<section id="how-its-made" class="section-about">
  <div class="container">
    <p class="about__title-label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>

    <ul class="about__list list">
      <li class="about__wripper-img">
        <picture>
          <source
            srcset="
              ./images/about/desktop/cow-desktop.png    1x,
              ./images/about/desktop/cow-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/about/tablet/cow-tablet.png    1x,
              ./images/about/tablet/cow-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/about/mobile/cow-mobile.png    1x,
              ./images/about/mobile/cow-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img class="about__img" src="./images/about/mobile/cow-mobile.png" alt="cow" />
        </picture>
      </li>
      <li class="about__wripper-text">
        <ul class="about__list-text list">
          <li class="about__item-text about__text-first">
            <p class="about__text">
              Ice is a place where you will become not only a little happier, but also healthier.
              Health is the main value for us, and we follow it when creating our handabout
              desserts.
            </p>
          </li>
          <li class="about__item-text about__text-second">
            <p class="about__text">
              We use traditional recipes and 100% natural ingredients. Our products are so natural
              that they can be given to children from the age of three years. Sweets lovers can
              expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.
            </p>
          </li>
          <li class="about__item-text about__text-three">
            <p class="about__text">This is enough to choose ice cream and coffee for any mood!</p>
          </li>
          <li>
            <button class="filled-button" type="button" data-modal-open>Read more</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<div class="about-backdrop is-hidden" data-modal>
  <div class="about-modal">
    <button class="about-modal-close" type="button" data-modal-close>
      <svg class="about-modal-icon-close" width="20" height="20">
        <use href="./images/icons.svg#about-modal-icon-close"></use>
      </svg>
    </button>
    <h2 class="about-modal__title">How it’s made?</h2>
    <iframe
      width="448"
      height="205"
      src="https://www.youtube.com/embed/lKAVnNi9ZCM"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="about-video"
    ></iframe>
    <p class="about-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
  </div>
</div>
