<section id="how-its-made" class="section-about">
  <div class="container">
    <p class="about__title-label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__content-wrapper">
      <ul class="about__list-text list">
        <li class="about__item-text about__text-first">
          <p class="about__text">
            Ice is a place where you will become not only a little happier, but also healthier.
            Health is the main value for us, and we follow it when creating our handabout desserts.
          </p>
        </li>
        <li class="about__item-text about__text-second">
          <p class="about__text">
            We use traditional recipes and 100% natural ingredients. Our products are so natural
            that they can be given to children from the age of three years. Sweets lovers can expect
            55 types of ice cream, 15 types of coffee and 23 milkshakes.
          </p>
        </li>
        <li class="about__item-text about__text-three">
          <p class="about__text">This is enough to choose ice cream and coffee for any mood!</p>
        </li>
      </ul>
      <button class="filled-button about__read-more-button" type="button" data-about-modal-open>
        Read more
        <svg class="button-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<div class="about-backdrop is-hidden" data-about-modal>
  <div class="about-modal">
    <button class="about-modal-close" type="button" data-about-modal-close>
      <svg class="about-modal-icon-close" width="20" height="20">
        <use href="./images/icons.svg#about-modal-icon-close"></use>
      </svg>
    </button>
    <h2 class="about-modal__title">How it’s made?</h2>
    <iframe
      width="448"
      height="205"
      src="https://www.youtube.com/embed/lKAVnNi9ZCM"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="about-video"
    ></iframe>
    <p class="about-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
  </div>
</div>
