<section id="about" class="advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__items advantages__items--cow">
        <div class="advantages__wrapper">
          <h3 class="advantages__title">721</h3>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>

      <li class="advantages__items advantages__items--weight">
        <div class="advantages__wrapper">
          <h3 class="advantages__title">16 kg</h3>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>

      <li class="advantages__items advantages__items--ice-cream">
        <div class="advantages__wrapper">
          <h3 class="advantages__title">84</h3>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
