<section class="advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__items">
        <!-- <img
          class="advantages__icon"
          src="./images/advantages-icons/advantages-cow-3x.png"
          ail="cow"
          height="50"
          width="50"
        /> -->
        <h3 class="advantages__title">721</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__items">
        <!-- <img
          class="advantages__icon"
          src="./images/advantages-icons/advantages-weight-3x.png"
          ail="weigh"
          height="50"
          width="50"
        /> -->
        <h3 class="advantages__title">16 kg</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__items">
        <!-- <img
          class="advantages__icon"
          src="./images/advantages-icons/advantages-ice-3x.png"
          ail="ice"
          height="50"
          width="50"
        /> -->
        <h3 class="advantages__title">84</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
