<section id="contact" class="container contacts-container">
    <h2 class="visually-hidden">contacts</h2>
    <ul class="contacts">
        <li class="contacts__item">
            <p class="contacts__category">CAFE</p>
            <p class="contacts__city">Chicago</p>
            <p class="contacts__addres">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
            <ul class="contacts__work">
                <li class="contacts__work-day">Monday - Friday</li>
                <li class="contacts__work-time">06:00 AM - 10:00 PM</li>
            </ul>
            <nav class="contacts_navigation">
                <ul>
                    <li><a class="contacts_navigation-tel" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    <li><a class="contacts_navigation-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            </nav>
        </li>
        <li class="contacts__item">
            <p class="contacts__category">FOOD TRUCK</p>
            <p class="contacts__city">Los Angeles</p>
            <p class="contacts__addres">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
            <ul class="contacts__work">
                <li class="contacts__work-day">Monday - Friday</li>
                <li class="contacts__work-time">06:00 AM - 10:00 PM</li>
            </ul>
            <nav class="contacts_navigation">
                <ul>
                    <li><a class="contacts_navigation-tel" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    <li><a class="contacts_navigation-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            </nav>
        </li>
        <li class="contacts__item">
            <p class="contacts__category">CAFE</p>
            <p class="contacts__city">New York</p>
            <p class="contacts__addres">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
            <ul class="contacts__work">
                <li class="contacts__work-day">Monday - Friday</li>
                <li class="contacts__work-time">06:00 AM - 10:00 PM</li>
            </ul>
            <nav class="contacts_navigation">
                <ul>
                    <li><a class="contacts_navigation-tel" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    <li><a class="contacts_navigation-mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            </nav>
        </li>
    </ul>
    <button type="button" class="button-ourlocation">Our Locations
        <!-- <img src="./images/buttons/vector.svg" alt="" class="button__img"> -->
    </button>
    
    <button type="button" class="button-franchise">Franchise
        <!-- <img src="./images/buttons/vector-w.svg" alt="" class="button__img"> -->
    </button>
</section>