<section class="customer-reviews container">
  <h2 class="visually-hidden">Customer reviews</h2>
  <div class="swiper customer-reviews-slider">
    <div class="swiper-wrapper customer-reviews-slider-wrapper">
      <div class="swiper-slide review">
        <img
          class="review__customer-photo"
          src="./images/customer-reviews/customer-reviews-85x85@1x.jpg"
          srcset="
            ./images/customer-reviews/customer-reviews-85x85@1x.jpg 1x,
            ./images/customer-reviews/customer-reviews-85x85@2x.jpg 2x,
            ./images/customer-reviews/customer-reviews-85x85@3x.jpg 3x
          "
          alt="Customer photo"
          width="85"
          height="85"
        />
        <p class="review__message">
          I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
          addition, you have beautiful serving, cozy atmosphere and polite staff.
        </p>
        <p class="review__title">Emily, Los Angeles</p>
      </div>
      <div class="swiper-slide review">
        <img
          class="review__customer-photo"
          src="./images/customer-reviews/customer-reviews-85x85@1x.jpg"
          srcset="
            ./images/customer-reviews/customer-reviews-85x85@1x.jpg 1x,
            ./images/customer-reviews/customer-reviews-85x85@2x.jpg 2x,
            ./images/customer-reviews/customer-reviews-85x85@3x.jpg 3x
          "
          alt="Customer photo"
          width="85"
          height="85"
        />
        <p class="review__message">I love visiting your cafe.</p>
        <p class="review__title">Kate, New York</p>
      </div>
      <div class="swiper-slide review">
        <img
          class="review__customer-photo"
          src="./images/customer-reviews/customer-reviews-85x85@1x.jpg"
          srcset="
            ./images/customer-reviews/customer-reviews-85x85@1x.jpg 1x,
            ./images/customer-reviews/customer-reviews-85x85@2x.jpg 2x,
            ./images/customer-reviews/customer-reviews-85x85@3x.jpg 3x
          "
          alt="Customer photo"
          width="85"
          height="85"
        />
        <p class="review__message">
          I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
          addition, you have beautiful serving, cozy atmosphere and polite staff.
        </p>
        <p class="review__title">Mia, Arizona</p>
      </div>
    </div>
    <div class="customer-reviews-slider-pagination"></div>
  </div>
</section>
