<section class="example-buttons container">
  <!-- .filled-button -->
  <button class="filled-button" type="button">
    .filled-button
    <svg class="button-icon" width="12" height="12">
      <use href="./images/icons.svg#icon-button-arrow"></use>
    </svg>
  </button>
  <!-- .filled-button -->

  <!-- .contour-button -->
  <button class="contour-button" type="button">.contour-button</button>
  <!-- .contour-button -->

  <!-- .contour-button .contour-button-adaptive -->
  <button class="contour-button contour-button-adaptive" type="button">
    .contour-button + .contour-button-adaptive
  </button>
  <!-- .contour-button .contour-button-adaptive -->

  <!-- .contour-button-wide -->
  <button class="contour-button-wide" type="button">
    .contour-button-wide
    <svg class="button-icon" width="12" height="12">
      <use href="./images/icons.svg#icon-button-arrow"></use>
    </svg>
  </button>
  <!-- .contour-button-wide -->

  <!-- .pseudo-link-button -->
  <button class="pseudo-link-button" type="button">.pseudo-link-button</button>
  <!-- .pseudo-link-button -->

  <!-- .pseudo-link-button .pseudo-link-button-adaptive -->
  <button class="pseudo-link-button pseudo-link-button-adaptive" type="button">
    .pseudo-link-button + .pseudo-link-button-adaptive
  </button>
  <!-- .pseudo-link-button .pseudo-link-button-adaptive -->
</section>
