<section class="footer">
<div class="container">
  <p class="footer-title">homemade ice cream made</p>
  <p class="footer-subtitle">with passion</p>
  <ul>
    <li><a href="https://github.com" target="_blank" rel="noreferrer"><svg class="social-networks__icon" width="32px" height="32px">
      <use href="./images/footer/sprite-footer.svg#icon-Vector"></use>
    </svg></a></li>
    <li><a href="https://web.telegram.org/z/" target="_blank" rel="noreferrer"><svg class="social-networks__icon" width="19px" height="14px">
      <use href="./images/footer/sprite-footer.svg#icon-telegram"></use>
    </svg></a></li>
    <li><a href="https://uk-ua.facebook.com" target="_blank" rel="noreferrer"><svg class="social-networks__icon" width="9px" height="19px">
      <use href="./images/footer/sprite-footer.svg#icon-Vector-2"></use>
    </svg></a></li>
  </ul>
  <p>Feel free to contact <a href="tel:+61(0)383766284">+61 (0) 383 766 284</a></p> 
</div>
<div class="container">
  <p>&#169; 2022 - IceCream.
  All Rights Reserved.</p>
</div>
</section>
