<section class="header">
  <header class="page-header">
    <div class="container">
      <nav class="main-nav">
        <a class="logo" href="./index.html">
          <picture>
            <source
              srcset="
                ./images/header/logo/icecream/desktop/logo-desktop-60x65@1x.png 1x,
                ./images/header/logo/icecream/desktop/logo-desktop-60x65@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/header/logo/icecream/tablet/logo-tablet-48x44@1x.png 1x,
                ./images/header/logo/icecream/tablet/logo-tablet-48x44@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/header/logo/icecream/mobile/logo-mobile-40x37@1x.png 1x,
                ./images/header/logo/icecream/mobile/logo-mobile-40x37@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/header/logo/icecream/mobile/logo-mobile-40x37@1x.png"
              alt="The company logo is depicted in the form of ice cream"
            />
          </picture>
        </a>
        <ul class="header-nav">
          <li class="header-nav__item"><a class="header-nav__link" href="./index.html">Home</a></li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#how-its-made">How it’s made?</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#our-product">Our products</a>
          </li>
          <li class="header-nav__item"><a class="header-nav__link" href="#contact">Contact</a></li>
        </ul>
        <button class="mobile-menu-open-btn" type="button" data-menu-open>
          <svg class="mobile-menu-open__icon" width="32px" height="32px">
            <use href="./images/header/header-sprite.svg#icon-burger-button"></use>
          </svg>
        </button>
        <button class="filled-button buy-now-button" type="button" data-buy-now-modal-open>
          Buy now
          <svg class="button-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </nav>
    </div>
    <div class="mobile-menu" data-menu>
      <div class="container mobile-menu__container">
        <a class="logo logo--mobile-menu" href="./index.html">
          <picture>
            <source
              srcset="
                ./images/header/logo/icecream/tablet/logo-tablet-48x44@1x.png 1x,
                ./images/header/logo/icecream/tablet/logo-tablet-48x44@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/header/logo/icecream/mobile/logo-mobile-40x37@1x.png 1x,
                ./images/header/logo/icecream/mobile/logo-mobile-40x37@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/header/logo/icecream/mobile/logo-mobile-40x37@1x.png"
              alt="The company logo is depicted in the form of ice cream"
            />
          </picture>
        </a>
        <button type="button" class="mobile-menu__close-btn" data-menu-close>
          <svg class="mobile-menu__close-icon" width="32px" height="32px">
            <use href="./images/header/header-sprite.svg#icon-close-cross-mobile-menu"></use>
          </svg>
        </button>
        <ul class="mobile-nav">
          <li class="mobile-nav__item"><a class="mobile-nav__link" href="./index.html">Home</a></li>
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#how-its-made" data-menu-item>How it’s made?</a>
          </li>
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#our-product" data-menu-item>Our products</a>
          </li>
          <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#contact" data-menu-item>Contact</a>
          </li>
        </ul>
        <button
          class="filled-button buy-now-mobile-button"
          type="button"
          data-menu-item
          data-mobile-buy-now-modal-open
        >
          Buy now
          <svg class="button-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </header>
</section>
<div class="buy-now-backdrop is-hidden" data-buy-now-modal>
  <div class="buy-now-modal">
    <button class="buy-now-modal-close" type="button" data-buy-now-modal-close>
      <svg class="about-modal-icon-close" width="20" height="20">
        <use href="./images/icons.svg#about-modal-icon-close"></use>
      </svg>
    </button>
    <p class="sorry-text">Не встиг виконати розмітку модального вікна. Прошу вибачення</p>
    <ul class="modal-buttons">
      <li>
        <button class="modal-buttons__choise modal-buttons__choise--good-button" data-modal-item>
          Нічого страшного - це не обов'язкове завдання
        </button>
      </li>
      <li>
        <button class="modal-buttons__choise modal-buttons__choise--bad-button" data-modal-item>
          Ай-ай-ай! Треба було встигати!
        </button>
      </li>
    </ul>
  </div>
</div>
