<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul class="points">
      <li class="points__item">
        <a class="points__link" href="#contact">16<span class="point__type"> cafes</span></a>
      </li>
      <li class="points__item">
        <a class="points__link" href="#contact">23<span class="point__type"> food trucks</span></a>
      </li>
    </ul>
    <ul class="hero__pseudo-button-list">
      <li class="hero__pseudo-button-item">
        <a class="hero__pseudo-button-link hero__pseudo-button-link--first" href="#our-product"
          >Products</a
        >
      </li>
      <li class="hero__pseudo-button-item">
        <a class="hero__pseudo-button-link hero__pseudo-button-link--second" href="#how-its-made"
          >How it’s made?</a
        >
      </li>
    </ul>
    <p class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <a href="#" class="hero__more-information">
      <svg class="hero__more-information-icon" width="40px" height="16px">
        <use href="./images/header/header-sprite.svg#icon-more-arrow"></use>
      </svg>
    </a>
  </div>
</section>
