<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul class="points">
      <li class="points__item">
        <a class="points__link" href="#contact">16<span class="point__type">cafes</span></a>
      </li>
      <li class="points__item">
        <a class="points__link" href="#contact">23<span class="point__type">food trucks</span></a>
      </li>
    </ul>
    <ul class="hero__button-list">
      <li class="hero__button-item"><button type="button">Products</button></li>
      <li class="hero__button-item"><button type="button">How it’s made?</button></li>
    </ul>
    <p class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
      <a href="#" class="hero__more-information">
        <svg class="hero__more-information-icon" width="40px" height="16px">
          <use href="./images/header/header-sprite.svg#icon-more-arrow"></use>
        </svg>
      </a>
    </p>
  </div>
</section>
