<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul class="points">
      <li class="points__item">
        <a class="points__link" href="#contact">16<span class="point__type"> cafes</span></a>
      </li>
      <li class="points__item">
        <a class="points__link" href="#contact">23<span class="point__type"> food trucks</span></a>
      </li>
    </ul>
    <ul class="hero__pseudo-button-list">
      <li class="hero__pseudo-button-item">
        <a class="hero__pseudo-button-link hero__pseudo-button-link--first" href="#our-product"
          >Products</a
        >
      </li>
      <li class="hero__pseudo-button-item">
        <a class="hero__pseudo-button-link hero__pseudo-button-link--second" href="#how-its-made"
          >How it’s made?</a
        >
      </li>
    </ul>
    <p class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <a href="#header" class="hero__more-information">
      <svg class="hero__more-information-icon" width="40" height="16">
        <use href="./images/header/header-sprite.svg#icon-more-arrow"></use>
      </svg>
    </a>
    <picture class="ice-cream-plate">
      <source
        srcset="
          ./images/hero/bacground/ice-cream-plate/desktop/ice-cream-plate-225x225@1x.png 1x,
          ./images/hero/bacground/ice-cream-plate/desktop/ice-cream-plate-225x225@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero/bacground/ice-cream-plate/tablet/ice-cream-plate-152x152@1x.png 1x,
          ./images/hero/bacground/ice-cream-plate/tablet/ice-cream-plate-152x152@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        src="./images/hero/bacground/ice-cream-plate/tablet/ice-cream-plate-152x152@1x.png"
        alt="ice-cream-plate"
      />
    </picture>
    <picture class="ice-cream-hero">
      <source
        srcset="
          ./images/hero/bacground/ice-cream-hero/desktop/ice-cream-hero-485x593@1x.png 1x,
          ./images/hero/bacground/ice-cream-hero/desktop/ice-cream-hero-485x593@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero/bacground/ice-cream-hero/tablet/ice-cream-hero-270x343@1x.png 1x,
          ./images/hero/bacground/ice-cream-hero/tablet/ice-cream-hero-270x343@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/bacground/ice-cream-hero/mobile/ice-cream-hero-170x219@1x.png 1x,
          ./images/hero/bacground/ice-cream-hero/mobile/ice-cream-hero-170x219@2x.png 2x
        "
        media="(min-width: 480px)"
      />
      <img
        src="./images/hero/bacground/ice-cream-hero/mobile/ice-cream-hero-170x219@1x.png"
        alt="big ice-cream with smile faces"
      />
    </picture>
  </div>
</section>
