<section id="products" class="section-products">
  <div class="container">
    <!-- <p class="products__title-lable">100% NATURAL</p>
    <h2 class="products__title">PRODUCTS</h2> -->
    <ul class="product__list list">
      <li class="products__wripper-list product-one">
        <h3 class="product__item-text">ICE CREAM</h3>
        <p class="product__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>
        <!-- <a href="#" class="product__link">Arrow</a> -->
      </li>
      <li class="products__wripper-list product-two">
        <h3 class="product__item-text">g</h3>
        <p class="product__text">gg</p>
      </li>
      <li class="products__wripper-list product-three">
        <h3 class="product__item-text">h</h3>
        <p class="product__text">hh</p>
      </li>
    </ul>
  </div>
</section>
