<section id="our-product" class="section-products">
  <div class="container">
    <p class="products__title-lable">100% NATURAL</p>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="product__list list">
      <li class="products__wripper-list product-one">
        <h3 class="product__item-text">ICE CREAM</h3>
        <p class="product__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>
        <button type="submit" class="product__link">
					<svg class="product__link-icon" width="40" height="15">
            <use href="./images/symbol-defs.svg#icon-Arrow-6"></use>
          </svg>    
				</button>
        <!-- <a href="#" class="product__link">Arrow</a> -->
      </li>
      <li class="products__wripper-list product-two">
        <h3 class="product__item-text">ICE COFFEE</h3>
        <p class="product__text">
          Fragrant invigorating drink created from 100% natural ingredients without the use of
          preservatives and flavor enhancers
        </p>
        <button type="submit" class="product__link">
					<svg class="product__link-icon" width="40" height="15">
            <use href="./images/symbol-defs.svg#icon-Arrow-6"></use>
          </svg>    
				</button>
      </li>
      <li class="products__wripper-list product-three">
        <h3 class="product__item-text">MILKSHAKES</h3>
        <p class="product__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
          other sweets of your choice
        </p>
        <button type="submit" class="product__link">
					<svg class="product__link-icon" width="40" height="15">
            <use href="./images/symbol-defs.svg#icon-Arrow-6"></use>
          </svg>    
				</button>
        </a>
      </li>
    </ul>
  </div>
</section>
