.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@include media-from-mobile-resolution() {
  .container {
    width: 480px;
  }
}

@include media-from-tablet-resolution {
  .container {
    width: 768px;
  }
}

@include media-from-desktop-resolution {
  .container {
    width: 1200px;
  }
}
