.section-products {
  padding-top: 60px;
  padding-bottom: 60px;
}
.products__title-lable {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 12px;
}

.products__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 4%;
  text-transform: uppercase;

  color: var(--secondary-color);

  margin-bottom: 148px;
}

.product__item-text {
  font-family: var(--primary-font);
  font-family: 700px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 4%;
  // width: 200px;
  color: var(--secondary-color);

  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.product__text {
  font-family: var(--primary-font);
  font-family: 400px;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 4%;
  color: var(--secondary-color);
  width: 200px;

  // margin-bottom: 109px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.product__link {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
// .product__link-icon {
//   margin-left: 120px;
//   margin-top: 20px;
// }

.product__link-icon {
  transition: scale 2000ms linear;
  transform-origin: center left;

  .product__link:hover & {
    transform: scaleX(1.1);
  }
  .product__link:focus & {
    transform: scaleX(1.1);
    transform: scaleY(1.3);
  }
}
.product__link-icon:hover,
.product__link-icon:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke-width: 3px;
  border-color: #131313;
  width: 50px;
}
// .product__link-icon:focus {
//   width: 3px;
// }

.product__list {
  display: flex;
  row-gap: 164px;
  flex-direction: column;
}

.products__wripper-list {
  position: relative;
  padding-bottom: 15px;
  padding-top: 123px;
  width: 280px;
  min-height: 420px;
  border-radius: 30px;
  flex-basis: calc((100% - 64px) / 3);
}
.product-one {
  background-color: #aec6a5;
}

.product-two {
  background-color: #efd478;
}

.product-three {
  background-color: #d6936d;
}

.products__wripper-list::before {
  display: block;
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -55%);
}

.product-one::before {
  background-color: rgba(156, 190, 143, 0.7);
  box-shadow: 0 8px 30px rgba(10, 136, 23, 0.25);
}

.product-two::before {
  background-color: fill rgba(248, 210, 78, 0.7);
  box-shadow: 0 8px 30px rgba(153, 114, 23, 0.25);
}

.product-three::before {
  background-color: fill rgba(213, 117, 63, 0.7);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.products__wripper-list::after {
  display: block;
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  top: 0;
  left: 50%;
  transform: translate(-50%, -61%);
}

.product-one::after {
  background-image: url('../images/products/mobile/cream-mobile.png');
}

.product-two::after {
  background-image: url('../images/products/mobile/coffee-mobile.png');
}

.product-three::after {
  background-image: url('../images/products/mobile/milkshakes-mobile.png');
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .product-one::after {
    background-image: url('../images/products/mobile/cream-mobile@2x.png');
  }

  .product-two::after {
    background-image: url('../images/products/mobile/coffee-mobile@2x.png');
  }

  .product-three::after {
    background-image: url('../images/products/mobile/milkshakes-mobile@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .product-one::after {
    background-image: url('../images/products/tablet/cream-tablet.png');
  }

  .product-two::after {
    background-image: url('../images/products/tablet/coffee-tablet.png');
  }

  .product-three::after {
    background-image: url('../images/products/tablet/milkshakes-tablet.png');
  }
  .products__wripper-list {
    width: 224px;
    height: 428px;
    padding-top: 107px;
  }

  .product__list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
  }

  .section-products {
    padding-top: 61px;
    padding-bottom: 80px;
  }

  .products__title-lable {
    font-size: 22px;
  }

  .products__title {
    font-size: 34px;
    margin-bottom: 200px;
  }

  .product__item-text {
    font-size: 22px;
    margin-bottom: 39.9px;
  }

  .product__text {
    width: 172px;
    // margin-bottom: 106px;
  }

  .product__text.product-one {
    // margin-bottom: 52px;
  }

  .product__text.product-three {
    // margin-bottom: 75px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .product-one::after {
    background-image: url('../images/products/tablet/cream-tablet@2x.png');
  }

  .product-two::after {
    background-image: url('../images/products/tablet/coffee-tablet@2x.png');
  }

  .product-three::after {
    background-image: url('../images/products/tablet/milkshakes-tablet@2x.png');
  }
}

@media screen and (min-width: 1200px) {
  .product-one::after {
    background-image: url('../images/products/desktop/cream-desktop.png');
    height: 300px;
    width: 300px;
  }

  .product-two::after {
    background-image: url('../images/products/desktop/coffee-desktop.png');
    height: 300px;
    width: 300px;
  }

  .product-three::after {
    background-image: url('../images/products/desktop/milkshakes-desktop.png');
    height: 300px;
    width: 300px;
  }

  .product-one::before {
    height: 300px;
    width: 300px;
  }

  .product-two::before {
    height: 300px;
    width: 300px;
  }

  .product-three::before {
    height: 300px;
    width: 300px;
  }

  .products__wripper-list {
    width: 370px;
    height: 536px;
    padding-top: 166px;
  }

  .product__list {
    gap: 32px;
  }

  .section-products {
    padding-bottom: 66px;
  }

  .products__title-lable {
    font-size: 30px;
  }

  .products__title {
    font-size: 36px;
    margin-bottom: 303px;
  }

  .product__item-text {
    font-size: 30px;
    margin-bottom: 65px;
  }

  .product__text {
    font-size: 16px;
    width: 250px;
    // margin-bottom: 70px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .product-one::after {
    background-image: url('../images/products/desktop/cream-desktop@2x.png');
  }

  .product-two::after {
    background-image: url('../images/products/desktop/coffee-desktop@2x.png');
  }

  .product-three::after {
    background-image: url('../images/products/desktop/milkshakes-desktop@2x.png');
  }
}

// .products__wripper-list::before {
//   display: block;
//   position: absolute;
//   content: '';
//   width: 200px;
//   height: 200px;
//   border-radius: 50%;
//   // background-color: rgba(248, 210, 78, 0.7);
//   // box-shadow: 0 8px 30px rgba(153, 114, 23, 0.25);
//   top: 0;
//   left: 50%;
//   transform: translate(-50%, -55%);
// }
// .product-two::before {
//   background-color: rgba(248, 210, 78, 0.7);
//   box-shadow: 0 8px 30px rgba(153, 114, 23, 0.25);
// }

// .product-one::after {
//   background-image: url('../images/products/mobile/cream-mobile.png');
// }

// .products__wripper-list.product-two::after {
//   display: block;
//   position: absolute;
//   content: '';
//   background-repeat: no-repeat;
//   height: 200px;
//   width: 200px;
//   background-position: center;
//   background-image: url(../images/products/mobile/milkshakes-mobile.png);
//   top: 0;
//   left: 50%;
//   transform: translate(-50%, -61%);
// }

// .products__wripper-list.product-three::before {
//   display: block;
//   position: absolute;
//   content: '';
//   width: 200px;
//   height: 200px;
//   border-radius: 50%;
//   background-color: rgba(156, 190, 143, 0.7);
//   box-shadow: 0 8px 30px rgba(10, 136, 23, 0.25);
//   top: 0;
//   left: 50%;
//   transform: translate(-50%, -55%);
// }
// .products__wripper-list.product-three::after {
//   display: block;
//   position: absolute;
//   content: '';
//   background-repeat: no-repeat;
//   height: 200px;
//   width: 200px;
//   background-position: center;
//   background-image: url(../images/products/mobile/cream-mobile.png);
//   top: 0;
//   left: 50%;
//   transform: translate(-50%, -61%);
// }

// @media screen and (min-width: 1200px){
//   .products__wripper-img{
//     width: 370.16px;
//     // padding: 40px;
//     }

//   .product__img {
//     bottom: 17px;
//     width: 300px;
//     height: 300px;
//          }
//   }

//  @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .products__wripper-img{
//     width: 224px;
//     // padding: 40px 24px;
//   }
// }
// .product__list{
//   justify-content: center;
//   // gap: 20px;
//   display: flex;
// }

// @media screen and (min-width: 768px) {
//   .product__list{
//     gap: 16px;
//   }
// }
// @media screen and (min-width: 1200px) {
//   .product__list {
//     gap: 32px;
//     }

//     .products__wripper-img {
//       width: 300px;
//       height: 300px;

//     background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
//     box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
//     border-radius: 150px;

//       margin-bottom: 32px;
//     }
//    }
